.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}

.slider {
    height: 12rem;
    width: 40px;
}

input {
    -webkit-appearance: slider-vertical;
}

label {
    font-size: 12px;
    width: 40px;
}